a
  text-decoration none
  .avatar
    display inline-block

#loading
.notify.ui.message
  position fixed
  z-index 99
#loading
  right 10em
  display none
.notify.ui.message
  left 50%
  top 0


#sidebar
  & > .ui.header a
    color #555
  /*
  & > .buttons
    .or::before
      content "\f0f4"
      font-family "Icons"
      line-height 1.7
      color #7d7d7d
  .inbox
    margin 0
   */

  .date
    font-size .75em

.article
  height 100%
  width 100%
  display table
  .ui.labeled.icon.input .edit
    margin-right 0

